<h1>The Summary of our Order</h1>


<p>
    The name of the customer is @ViewData["CustomerName"]
</p>
<p>
    The box size is @ViewData["ChocolateSize"]
</p>
<p>
    The box colour is @ViewData["ChocolateBoxColour"]
</p>
<hr />
<p>Sub total is $@ViewData["OrderSubTotal"]</p>
<p>Tax is $@ViewData["Tax"]</p>
<p>Total $@ViewData["OrderTotal"]</p>